.sign-in-form{
  padding-bottom: 10px;
  .form-inline{
    .btn{
      margin-top: 0px;
    }
    .user_remember_me{
      margin-top: 5px;
      display: inline-block;
      float: right;
    }
  }
}