.image-block{
  width: 140px;
  margin-bottom: 20px;
  img{
    width: 140px;
  }
  label{
    margin-right: -10px;
    margin-left: -10px;
    text-align: center;
    overflow:hidden;
    position:relative;
    cursor: pointer;
    span input{
      display: none;
      margin-left: 10px;
      width: 125px;
      z-index: 999;
      line-height: 0;
      position: absolute;
      opacity: 0;
      padding:0;
      cursor: pointer;
    }
    p{
      width: 125px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.image-main{
  margin-bottom: 15px;
}