- title('Passports Menu')
.form-actions
  = large_block_button({:text => 'My Passports',      :href => my_passports_path})
  = large_block_button({:text => 'Passport Requests', :href => passport_requests_path})
  = large_block_button({:text => 'Add New Passport',  :href => new_passport_path})
