- title "Finish Trip"
%h4 Your request has been submitted.
%h3 Would you like to plan a new trip?
= link_to 'Yes', new_trip_path, :class => 'btn btn-primary'
= link_to 'No', root_path, :class => 'btn'
