%footer.footer
  %a.footer-logo{href: 'http://www.pro-linkglobal.com/'}
    = image_tag('pro_link_logo.png', {:class => 'logo_prolink'})
    %br
    %span.copyright
      COPYRIGHT 2013-#{Time.now.year}