<div class="download-button file-input-wrapper">
    <input type="file" class="uploader-class" accept="image" required="required" />
    <button class="btn btn-primary">Upload File</button>
</div>

<div class="progress progress-info active hidden uploader-progress-block">
    <div class="bar uploader-progress-bar"></div>
</div>