Hi #{@visa.user.full_name}!
%br
Your visa, with visa number #{@visa.number}, for #{@visa.country.andand.name} has been verified.
%br
The #{SITE_BRAND} team has confirmed that your visa is valid and you can use it for your upcoming trip.